BSMSClient/BSMSClient/Connected Services/ServiceReference4/Book_Store_Managment_System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6000/Book_Store_Managment_System?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Book_Store_Management_System" />
  <xs:element name="PaymentInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Book_Store_Management_System" minOccurs="0" name="payment" nillable="true" type="q1:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaymentInsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>