BSMSClient/BSMSClient/Connected Services/ServiceReference3/Book_Store_Managment_System1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Book_Store_Management_System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Book_Store_Management_System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="book_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="order_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>