BSMSClient/BSMSClient/Connected Services/ServiceReference1/Book_Store_Managment_System1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Book_Store_Management_System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Book_Store_Management_System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Register">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip_code" type="xs:int" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Register" nillable="true" type="tns:Register" />
</xs:schema>